@media screen and (min-width: 300px) and (max-width: 980px) {
    
 
      h1{
          display: none;
      }
      .titulo-2{
        margin-left: 1.5rem;
        display: block!important;
      
      }
      .tit-3{
        font: 13px 'Ayuthaya', sans-serif;
        color: #BD10E0;
      }
      .navbar-brand {
        margin-right: 0px !important;
       
    }
    .navbar-link{
      padding:15px 5px;transition:0.2s;
      color:#BD10E0;
      font-size: 15px !important;
      }
      .bton{
        color:#BD10E0;
        display: block;
      }
      .tit-bice2{
        display: block !important;
        color:#4A90E2;
      }
      .tit-bice{
        display: none;
      }
     
      .title{
       font-size: 14px;
      }
     
      .tit-cel{
        display:block;
        color:#ffff;
      }

      .file-1{
       margin-bottom: 0px;
      }
       .file-2{
       margin-bottom: 20px;
       
      }
  }


  @media screen (min-width: 700px) and (max-width:1024px){
    .nab-3{
      display: block;
    }
    .titulo-2{
      display: none;
    }
    .bton{
      color:#BD10E0;
      display: block;
    }
  }

  

  

 